:root {
  --bg-color: #dfe7ef;
  --heading-color: #173467;
  --primary-color: #212529;
  /* --heading-font-family: "Playfair Display", serif; */
  --heading-font-family: "Courier Prime", monospace;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
  /* background-color: var(--bg-color); */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  color: var(--primary-color);
}

h1 {
  font-size: 96px;
  line-height: 1.5;
}

h2 {
  font-size: 64px;
}

p {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

nav li {
  font-family: var(--default-font-family);
  font-size: 24px;
}

footer {
  margin: 60px 0;
}

footer .contact-box {
  background: var(--bg-color);
  padding: 30px 120px;
  margin: 50px;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 0;
}

footer .email-link {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 24px;
}

footer .email-link:hover {
  color: var(--heading-color);
}

footer .social-links a {
  margin: 0 20px;
  color: var(--heading-color);
  background: var(--bg-color);
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background: var(--heading-color);
}

.hero {
  background-image: url("../images/patternpad.png");
  /* background-color: var(--bg-color); */
  text-align: center;
  padding: 160px 20px;
}

.hero p {
  font-family: var(--default-font-family);
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: var(--heading-color);
}

.hero h2 {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 24px;
  line-height: 2;
  color: var(--heading-color);
}

.btn-dark {
  background: var(--heading-color);
  color: var(--bg-color);
  font-size: 24px;
  padding: 15px 30px;
}

.btn-outline-dark {
  border: var(--heading-color) solid 3px;
  color: var(--heading-color);
  font-size: 24px;
  padding: 15px 30px;
}

.btn-dark:hover {
  background-color: var(--bg-color);
  color: var(--heading-color);
  border-color: var(--heading-color);
  border: var(--heading-color) solid 3px;
}

.btn-outline-dark:hover {
  background: var(--heading-color);
  color: var(--bg-color);
}



.logo {
  max-height: 250px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 2;
  }

  h2 {
    font-size: 44px;
  }

  .hero {
    padding: 80px 20px;
  }


}
